.App {
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    padding-bottom: 10px;
}
